<div class="card">
  <div class="card-header"> Rating Bar </div>
  <div class="card-block">
    <i 
      [style.color]="heartColor" 
      class="fa fa-heart" 
      aria-hidden="true" 
      (click)="onHeartClick(1)"></i>

    <i 
      [style.color]="heartColor" 
      class="fa fa-heart" 
      aria-hidden="true" 
      (click)="onHeartClick(2)"></i>

    <i 
      [style.color]="heartColor" 
      class="fa fa-heart" 
      aria-hidden="true" 
      (click)="onHeartClick(3)"></i>

    <i 
      [style.color]="heartColor" 
      class="fa fa-heart" 
      aria-hidden="true" 
      (click)="onHeartClick(4)"></i>

    <i 
      [style.color]="heartColor" 
      class="fa fa-heart" 
      aria-hidden="true" 
      (click)="onHeartClick(5)"></i>
  </div>
</div>