<div class="card">
  <div class="card-block">
    <h4 class="card-title">CodeKul </h4>
    <h6 class="card-subtitle mb-2 text-muted">Angular 2 corporate</h6>
    <p class="card-text">This is weekend batch for angular 2. Presently we have created one component which is using bootstarp 4</p>
    <a href="#" class="card-link">codekul.com</a>
    <a href="#" class="card-link">getbootstrap.com</a>
  </div>
</div>
<div class="row">
  <app-inner-sample></app-inner-sample>
<app-inner-sample></app-inner-sample>
<app-inner-sample></app-inner-sample>
</div>
